<header class="header">
    <div class="wrapper">
        <div class="row">
            <div class="header_nav">
                <div class="logo">
                    <a href="./" class="header_logo">Elix<br>iris</a>
                </div>
                <nav class="mobile_menu">
                    <button class="burger-menu_button">
                        <span class="burger-menu_lines"></span>
                    </button>
                    <!-- <div class="burger-menu_overlay"></div> -->
                    <ul class="nav">
                        <li><a href="./" class="nav_item nav_item-active">ABOUT</a></li>
                        <li><a href="./" class="nav_item">THE COURSE</a></li>
                        <li><a href="./" class="nav_item">REVIEWS</a></li>
                        <li><button class="nav_btn">BOOK COURSE</button></li>
                    </ul>
                    <!-- <button class="nav_btn">BOOK COURSE</button> -->
                </nav>
            </div>
        </div>
    </div>
</header>
<main class="main_header">
    <div class="wrapper">
        <div class="row">
            <section class="main_header_col">
                <h1>We provide a successful solution for asthma and it's <span>entirely natural.</span></h1>
                <p>We appreciate this may be a stunning<br> statement, but we do not overstate things</p>
                <a href="./" class="btn_basic">DISCOVER MORE</a>
            </section>
        </div>
    </div>
</main>