<div class="container_full">
    <div class="wrapper wrapper_full">
        <div class="u_row">
            <header class="header">
                <button class="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <nav class="mobile-menu">
                    <ul class="main-menu">
                        <li>
                            <a href="#home" class="nav-anim active">
                                <span class="menu-icon lnr lnr-home"></span>
                                <span class="link-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#about-me" class="nav-anim">
                                <span class="menu-icon lnr lnr-user"></span>
                                <span class="link-text">About Me</span>
                            </a>
                        </li>
                        <li>
                            <a href="#resume" class="nav-anim">
                                <span class="menu-icon lnr lnr-graduation-hat"></span>
                                <span class="link-text">Resume</span>
                            </a>
                        </li>
                        <li>
                            <a href="#portfolio" class="nav-anim">
                                <span class="menu-icon lnr lnr-briefcase"></span>
                                <span class="link-text">Portfolio</span>
                            </a>
                        </li>
                        <li>
                            <a href="#blog" class="nav-anim">
                                <span class="menu-icon lnr lnr-book"></span>
                                <span class="link-text">Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="nav-anim">
                                <span class="menu-icon lnr lnr-envelope"></span>
                                <span class="link-text">Contact</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <main class="header-main">
                    <div class="header-main_photo">
                        <img src="assets/images/no-user.png" alt="Rudovich Oleg">
                    </div>
                    <div class="header-main_title">
                        <h1>Rudovich Oleg</h1>
                        <h4>Frontend developer</h4>
                    </div>
                </main>
                <div class="header-social"></div>
                <div class="header-buttons"></div>
                <div class="header-copyright">© 2020 Все права защищены.</div>
            </header>
            <div class="content-area">
                <div class="content-area_slide">
                    <h2>Rudovich Oleg</h2>
                    <p>Frontend developer</p>
                </div>
            </div>
        </div>
    </div>
</div>