<div class="wrapper wrapper_full">
    <div class="u_row">
        {% include "blocks/header-sidebar.njk" %}
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% include "blocks/slide-home.njk" %}
                {% include "blocks/slide-about_me.njk" %}

                <div class="swiper-slide" data-hash="resume">Slide 3</div>
                <div class="swiper-slide" data-hash="portfolio">Slide 4</div>
                <div class="swiper-slide" data-hash="blog">Slide 5</div>
                <div class="swiper-slide" data-hash="contact">Slide 6</div>
            </div>
        </div>
    </div>
</div>