<div class="wrapper wrapper_full">
    <div class="u_row">
        {% include "blocks/header-sidebar.njk" %}
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% include "blocks/slide-home.njk" %}
                {% include "blocks/slide-about_me.njk" %}

                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
            </div>
        </div>
    </div>
</div>