<div class="swiper-slide wrap home" data-hash="home">
    <h2 data-animate="bottom">Привет, Я front-end разработчик</h2>
    <p data-animate="bottom">Вы находитесь на моем сайте портфолио.</p>
    <p data-animate="bottom">Здесь Вы сможете ознакомится с некоторыми примерами моих работ.</p>
</div>