<div class="swiper-slide wrap portfolio" data-hash="portfolio">
    <div class="row">
        <div class="block_title">
            <div class="mySwiper_title">
                <h2>Последние работы</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="portfolio-filters">
            <ul class="filters">
                <li class="filters-item filters-item_active all" data-group="category_all">Все работы</li>
                <li class="filters-item suit" data-group="suit">Сайты</li>
                <li class="filters-item css" data-group="css">CSS практика</li>
                <li class="filters-item js" data-group="js">JS практика</li>
                <li class="filters-item php" data-group="php">PHP практика</li>
                <li class="filters-item cms" data-group="cms">CMS верстка</li>
            </ul>
        </div>
    </div>
    <div class="row portfolio-wrapper">
        <div class="portfolio-item portfolio-item-wrapper all suit cms"  data-group-item="all suit cms">
            <a href="#" class="portfolio-link">
                <div class="portfolio-item_img-wrapper">
                    <img src="assets/images/portfolio/radiobazar.jpg" alt="RadioBazar - создание сайта под ключ">
                </div>
                <div class="portfolio-item_content">
                    <div class="portfolio-item-title" title="Санкт-Петербург, Английский Пр.">RadioBazar - создание
                        сайта под ключ</div>
                    <ul class="portfolio-item_desc">
                        <li>Создание дизайна</li>
                        <li>Верстка сайта и написание скриптов</li>
                        <li>Посадка верстки на cms Wordpress</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="portfolio-item portfolio-item-wrapper all suit js cms"  data-group-item="all suit js cms">
            <a href="#" class="portfolio-link">
                <div class="portfolio-item_img-wrapper">
                    <img src="assets/images/portfolio/nelomay.jpg" alt="Nelomay - создание сайта под ключ">
                </div>
                <div class="portfolio-item_content">
                    <div class="portfolio-item-title" title="Санкт-Петербург, Английский Пр.">Nelomay - создание сайта
                        под ключ</div>
                    <ul class="portfolio-item_desc">
                        <li>Создание дизайна</li>
                        <li>Верстка сайта и написание скриптов</li>
                        <li>Посадка верстки на cms Wordpress</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="portfolio-item portfolio-item-wrapper all js php css"  data-group-item="all js php css">
            <a href="#" class="portfolio-link">
                <div class="portfolio-item_img-wrapper">
                    <img src="assets/images/portfolio/wood-tim.jpg" alt="Создание сайта
                    под ключ">
                </div>
                <div class="portfolio-item_content">
                    <div class="portfolio-item-title" title="Санкт-Петербург, Английский Пр.">Создание сайта
                        под ключ</div>
                    <ul class="portfolio-item_desc">
                        <li>Создание дизайна</li>
                        <li>Верстка сайта и написание скриптов</li>
                        <li>Посадка верстки на cms Wordpress</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="portfolio-item portfolio-item-wrapper all suit js"  data-group-item="all js">
            <a href="#" class="portfolio-link">
                <div class="portfolio-item_img-wrapper">
                    <img src="assets/images/portfolio/radiobazar.jpg" alt="RadioBazar - создание сайта под ключ">
                </div>
                <div class="portfolio-item_content">
                    <div class="portfolio-item-title" title="Санкт-Петербург, Английский Пр.">RadioBazar - создание
                        сайта под ключ</div>
                    <ul class="portfolio-item_desc">
                        <li>Создание дизайна</li>
                        <li>Верстка сайта и написание скриптов</li>
                        <li>Посадка верстки на cms Wordpress</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="portfolio-item portfolio-item-wrapper all js css"  data-group-item="all js css">
            <a href="#" class="portfolio-link">
                <div class="portfolio-item_img-wrapper">
                    <img src="assets/images/portfolio/nelomay.jpg" alt="Nelomay - создание сайта под ключ">
                </div>
                <div class="portfolio-item_content">
                    <div class="portfolio-item-title" title="Санкт-Петербург, Английский Пр.">Nelomay - создание сайта
                        под ключ</div>
                    <ul class="portfolio-item_desc">
                        <li>Создание дизайна</li>
                        <li>Верстка сайта и написание скриптов</li>
                        <li>Посадка верстки на cms Wordpress</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="portfolio-item portfolio-item-wrapper all php js"  data-group-item="all php js">
            <a href="#" class="portfolio-link">
                <div class="portfolio-item_img-wrapper">
                    <img src="assets/images/portfolio/wood-tim.jpg" alt="Создание сайта
                    под ключ">
                </div>
                <div class="portfolio-item_content">
                    <div class="portfolio-item-title" title="Санкт-Петербург, Английский Пр.">Создание сайта
                        под ключ</div>
                    <ul class="portfolio-item_desc">
                        <li>Создание дизайна</li>
                        <li>Верстка сайта и написание скриптов</li>
                        <li>Посадка верстки на cms Wordpress</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="row portfolio-buttons">
        <a href="#" class="buttons">Посмотреть все работы</a>
    </div>
</div>