.slide-1 {
    background-color: blanchedalmond;
}

.slide-2 {
    background-color: aquamarine;
}

.slide-3 {
    background-color: bisque;
}

// .content-area {
//     overflow: scroll;
//     .col();
//     .size(12);

//     .lg-block( {
//             .u-col(0);
//             .u-size(8, 12, 0rem);
//         }

//     );

//     .xxl-block( {
//             .u-size(9, 12, 0rem);
//         }

//     );
// }

// .content-area_slide {
//     height: 100%;
//     .wrap();
//     z-index: 2;
//     position: relative;
// }

.content-area_title{
    .col();
    .size(12);
    text-align: left;
}
.content-area_subtitle{
    .col();
    .size(12);
    text-align: left;
}